.THIS .telemeet-countdown{
    /*background-color:white;*/
    background-color: #16323e;
    width: 1000px;
    margin: auto;
    padding-bottom: 20px;
    /*border: 1px solid #16323e;*/
    border-radius: 5px;
}



.THIS .date-today{
    text-align: right;
    font-size: 12px;
}

.THIS .telemeet-info tr td{
    padding: 2px 2px 0 6px;    
}

.THIS .telemeet-info tr td:first-child{
	font-weight: bold;
}
.THIS .slds-page-header {
    text-align:center;
    background: white;
    border-radius: 5px 5px 0px 0px;
    border-radius:0px;
    font-size: 20px;
    padding: 10px;
    letter-spacing: .75px;
}
.THIS .timer{
    width: 70%;
}

.THIS .telemeet-started-message, .THIS .telemeet-ended-message{
    width: 100%;
    text-align: center;
}
.THIS .agenda p{
    color: white;
}
.THIS .agenda-content tr td{
    padding: 2px 0;
}
.THIS .agenda-content tr td:first-child{
    width: 10%;
    text-align: center;
}

.THIS .agenda-content tr td:nth-child(2){
	width: 30%;
}
.THIS .agenda-content tr td:nth-child(3){
	width: 60%;
}


.THIS #day_holder, .THIS #hours_holder, .THIS #minutes_holder, .THIS #seconds_holder{
    /*width:70px;*/
    position: relative;
    height:50px;
    margin-top:0;
    
    background-color:#a2d40a;
    font-family:Verdana, Geneva, sans-serif;
    font-style:normal;
    font-size:11px;
    border-radius:1px;
    color:white;
}
.THIS #day_holder >#daysBox, .THIS #hours_holder > #hoursBox, .THIS #minutes_holder >#minsBox, .THIS #seconds_holder >#secsBox{
    /*width:64px;*/
    height:30px;
    /*background:#000;*/
    text-align:center;
    color:white;
    font-family:Verdana, Geneva, sans-serif;
    font-size:22px;
    position:relative;
    top:1px;
    left:3px;
    border-radius:1px;
}


.THIS .telemeet-started #day_holder, .THIS .telemeet-started #hours_holder, .THIS .telemeet-started #minutes_holder, .THIS .telemeet-started #seconds_holder{
    /*width:70px;*/
    height:50px;
    margin-top:10%;
    
    background-color:#a2d40a;
    font-family:Verdana, Geneva, sans-serif;
    font-style:normal;
    font-size:11px;
    border-radius:1px;
    color:white;
}

.THIS .telemeet-started #day_holder >#daysBox, .THIS .telemeet-started #hours_holder > #hoursBox, .THIS .telemeet-started #minutes_holder >#minsBox, .THIS .telemeet-started #seconds_holder >#secsBox{
    /*width:64px;*/
    height:30px;
    /*background:#000;*/
    text-align:center;
    color:#dbe8ff;
    font-family:Verdana, Geneva, sans-serif;
    font-size:22px;
    position:relative;
    top:1px;
    left:3px;
    border-radius:1px;
}

.THIS .submit-file{
    margin: 20px 0;
}
.THIS .submit-file .slds-form-element__label{
    color: white;
}

.THIS .incomplete-agenda{
    margin: auto;
}

.THIS .telemeet-page{
    background: white;
}
.THIS .telemeet-content {
    width: 80%;
    margin: auto;
}

.THIS .virtuvisit{
    width: 100%;
    height: 100%;
    background: #001e41;
    color: #54555a;
}
/*Header*/
.THIS .virtuvisit .header{
    height: 80px;
}

.THIS .virtuvisit .header div{
    display: inline-block;	
}
.THIS .virtuvisit .header .logo {
    width: 50%;
    text-align: left;
}
.THIS .virtuvisit .header .logo img{
    height: 80px;
}
.THIS .virtuvisit .header .user{
    width: 50%;
    text-align: right;
}
.THIS .virtuvisit .header .user .user-name{
    color: white;
    font-size: 25px;
    vertical-align: sub;
}
.THIS .virtuvisit .header .user .user-profile{
    padding-left: 20px;
}


.THIS .virtuvisit .content{
    /*height: 1000px;*/
    background: white;
}
.THIS .virtuvisit .content-1{
    /*height: 150px;*/
}
/*Content 1*/
.THIS .virtuvisit .content-1 div{
    display: inline-block;    
    font-size: 35px;
    color: #54555a;
    font-weight: bold;
}
.THIS .content .content-1 .left {
	width: 25%;
    text-align: left;
    padding-left: 20px;
}
.THIS .content .content-1 .left img{
    margin: 15px 10px;
    height: 120px;
}
.THIS .content .content-1 .center {
	width: 50%;
    text-align: center;
}
.THIS .content .content-1 .right {
	width: 25%;
    text-align: right;
}
.THIS .content .content-1 .right img{
    margin: 15px 10px;
    height: 120px;
}
/*Content 2*/
.THIS .virtuvisit .content-2{
    background: #e5e5e5;
    display: inline-flex;
    width: 100%;
    padding: 15px;
}
.THIS .content .content-2 .left{
    position: relative;
    display: inline-block;  
	width: 50%;
}
.THIS .content .content-2 .right{
    position: relative;
    display: inline-block;  
	width: 50%;
}
.THIS .content .content-2 .right-toggle{
    display: inline-block;  
	width: 140%;
}
.THIS .content .toggle-amazon{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.THIS .content .consultation-schedule-toggle{
    display: none;
}
.THIS .content .consultation-team-toggle, .THIS .content .upload-file-toggle, .THIS .content .timerHolder-toggle{
    width: 94%;
}
.THIS .content .maximize{
    transform: rotate(180deg);
}

.THIS .content .maximize-toggle{
    display: none;
}

.THIS .content .minimize{
    display: none;
}
.THIS .content .minimize-toggle{
    display: block;
}


.THIS .content .content-2 .right .amazon-chime-content{
    width: 100%;
}

/*Timer*/
.THIS .timer {
    width: 100%;
    text-align: center;
}
.THIS .timerHolder, .THIS .telemeet-info{
    background: #a2d40a;
    font-size: 13px;
    display: inline-block;
    padding: 10px;
    width: 50%;
    color: white;
    border-radius: 10px;
    letter-spacing: 1px;
}
.THIS .timerHolder .colon-separator{
    font-size: 30px;
    position: absolute;
    right: -5px;
    top: 0;
}

/*Consultation*/
.THIS .consultation {
    width: 100%;
    text-align: center;
    padding: 10px;
}

/*Welcome Message*/
.THIS .welcome-message{
    text-align: center;
    color: #003d71;
    font-size: 22px;
    font-style: italic;
}

/*Consultation Header*/
.THIS .consultation-header{
    padding: 10px;
    text-align: center;
}
/*Consultation Content*/
.THIS .consultation-content{
    display: inline-flex;
    width: 100%;
}
.THIS .consultation-team{
    display: inline-block;
    width: 40%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 5px 5px 10px;
}
.THIS .consultation-schedule{
    display: inline-block;
    width: 60%;
    background: #54555a;
    border-radius: 10px;
    margin: 5px 15px 5px 5px;
    text-align: center;
}
.THIS .consultation-schedule-header{
    padding: 10px 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffad61;   
    line-height: 70px;
    background: white;
    border-radius: 10px 10px 0 0;
}
.THIS .consultation-schedule-header img{
    height: 50px;
    padding-right: 10px;
}
.THIS .agenda-content{
    padding: 15px;
    background: #54555a;
    color: #959598;
    border-radius: 0 0 10px 10px;
}
.THIS .agenda{
    display: inline-flex;
    width: 100%;
    padding: 10px 0 5px 0;
}

.THIS .agenda .agenda-time{    
    display: inline-block;
    width: 50%;
    background: #75767a;
    color: #b9b9bb;
    padding: 15px; 
    font-size: 14px;
    position: relative;
    margin: auto;
}
.THIS .agenda .agenda-status{
    display: inline-block;     
    position: absolute;
    top: 10%;
    right: -10%;
}
.THIS .agenda .agenda-status .slds-media__figure{
    margin: 0;
}
.THIS .agenda .agenda-status .slds-avatar_large{
    background: white;
    width: 2.5rem;
    height: 2.5rem;
    color: #ffad61;
}
.THIS .agenda .agenda-status .agenda-count{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
.THIS .agenda .agenda-status .completed{
    background-color: white;
    
}
.THIS .agenda .agenda-status .completed svg g{
    fill: #ffad61;
}

.THIS .agenda .agenda-info{
    display: inline-block;  
    padding-left: 10%;
    padding-top: 10px;
    text-align: left;
    width: 50%;
}
.THIS .agenda .agenda-details{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}
.THIS .agenda .agenda-assignee{
    display: inline-block;  
}


.THIS .consultation-team-content:first-child{
    padding-top: 0px;
}
.THIS .consultation-position-header:first-child{
    line-height: 70px;
}
.THIS .consultation-team-content{
    display: inline-flex;
    width: 100%;
    padding: 10px;
}
.THIS .consultation-profile{
    display: inline-block;   
    width: 30%;
    text-align: center;
}
.THIS .consultation-member{
    display: inline-block;
    width: 70%;
}

.THIS .consultation-position-header{
    color: #0494da;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.THIS .consultation-position{
    color: #0494da;
    font-size: 13px;
    font-weight: bold;
}
.THIS .consultation-name{
    font-size: 16px;
    font-weight: bold;
}


/**/

.THIS .consultation-schedule-content {
    min-height: 150px;
}
.THIS .content-result{
    overflow: auto;
    min-height: 150px;
}

.THIS .consultation-content .consultation-content-half:nth-child(2){
    margin: 5px 15px 5px 5px;
}
.THIS .consultation-content-half{
    width: 50%;
}
.THIS .consultation-content-full{
    width: 100%;
}
.THIS .consultation-schedule .removeLabel label{
    display: none;
}
.THIS .consultation-schedule textarea{
    background: #54555a;
    border: unset;
    color: white;
    resize: none;
    height: 150px;
}

.THIS .consultation-schedule textarea:focus{
    box-shadow: none;
}
.THIS .white{
    color: white;
}




/*Upload File*/
.THIS .upload-file{
    width: 97%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 10px;
    text-align: center;
}
.THIS .input-file .slds-form-element__label{
    color: white;
}
.THIS .slds-form-element__label{
    font-size: 16px;
    font-weight: bold;
}


.THIS .file-list{
    padding: 5px;
}
.THIS .file-list table{
    border-radius: 3px;
}

.THIS .virtuvisit .footer{
    height: 100px;
    padding: 15px 0 15px 0;
    text-align: center;
}

.THIS .virtuvisit .footer .logo img{
	height: 70px;
}