.THIS.popup{
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem;
    cursor: pointer;
}

.THIS.popup:hover{
    border: 1px solid rgb(0, 112, 210);
    border-radius: 0.25rem;
    background-color: rgb(216, 237, 255);
    cursor: pointer;
}

.THIS .validation-message{
    color: rgb(194, 57, 52);
    font-size: 0.75rem;
}