.THIS .home-page{
    width: 100%;
    height: 100%;
    color: #001e41;
    font-size: 1rem;
    background: #e5e5e5;
    padding-bottom: 1rem;
}
.THIS .center{
	text-align: center;
}
.THIS .right{
    text-align: right;
}

.THIS .questionnaire-page{
    margin: 0 auto;
    width: 80%;
}
.THIS .header{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.THIS .message{
    padding: 10px;
    font-size: 1rem;
}
.THIS .new-questionnaire table{
    /*width: 50%;*/
    margin: 0 auto;
}

.THIS .new-questionnaire table td{
    padding: 0px .5rem;
    vertical-align: baseline;
}