<template>
    <div class="container">
        <div class="survey">

            <!-- Updated [EVENT REFRESH FIXES] JaysonLabnao Jan202022 -->
            <div class="main-section ">
                <template if:true={showSpinner}>
                    <div class="spinnerHolder">
                        <lightning-spinner alternative-text="Loading" size="medium" style="position: fixed"></lightning-spinner>
                    </div>
                </template>
                <!-- HEADER -->
                <!-- 25/05/2020 Jasmine - Hide header as requested in task #00157 -->
                <!-- <div class="header">
                    <div class="logoContainer">z
                    <div class="fixedLogo">
                        <img src={CCE_LOGO}>
                    </div>
                    <div class="dynamicLogo">
                        <img src={SURVEY_LOGO_URL} data-id="dynamicLogo">
                    </div>
                    </div>
                </div> -->
                
                <div class="main-header-section left">
                    <div class="main-header-section-title height-auto">{surveyPageTitle}</div>
                </div>
                    <!--Updated by Xen Reyes Nov012021 CCN-796/797/798-->
                <div class="header-page middle">
                    <!-- BODY -->

                    <!-- Updated [EVENT REFRESH FIXES] JaysonLabnao Jan202022 -->
                    <div class="slds-form-element survey-form">
                        <div class="main-header-section-content-title-header">{surveyName}</div>
                        <!-- Demographic Details -->
                        <!-- COMMENTED BY JL 20210121 #00495 Surveys - "About you" header-->
                        <!-- #00495 START-->
                        <!--<div class="slds-text-heading_medium">About you</div>-->
                        <!-- #00495 END-->
                
                        <template if:true={surveyDescription}>
                            <div class="survey-description">
                                <lightning-formatted-rich-text value={surveyDescription}></lightning-formatted-rich-text>
                            </div>
                        </template>
                        <div class="slds-grid slds-gutters slds-wrap">
                            <!-- Column 1 -->
                            <template for:each={surveyFieldsLeftColumn} for:item="surveyField">
                                <div class={surveyField.Style} key={surveyField.Field.key}>
                                    <template if:false={surveyField.IsPicklist}>
                                        <div class="slds-form-element__control">
                                            <div class="field-label">
                                                <template if:true={surveyField.Field.isRequired}>
                                                    <span class="required-mark">*</span>
                                                </template>
                                                {surveyField.Field.label}
                                            </div>

                                                <!--Updated by Xen Reyes Nov012021 CCN-796/797/798-->
                                            <lightning-input type={surveyField.Field.fieldType} 
                                                        name={surveyField.Field.key}
                                                        placeholder={surveyField.Field.label}
                                                        onchange={handleChange}
                                                        message-when-value-missing={surveyField.Field.messageWhenRequired}
                                                        required={surveyField.Field.isRequired}
                                                        variant="label-hidden"
                                                        class="form-fields"
                                                        value={surveyField.Value}>
                                            </lightning-input>
                                        </div>
                                    </template>
                                    <template if:true={surveyField.IsPicklist}>
                                        <div class="slds-form-element__control">
                                            <div class="field-label">
                                                <template if:true={surveyField.Field.isRequired}>
                                                    <span class="required-mark">*</span>
                                                </template>
                                                {surveyField.Field.label}
                                            </div>
                                            <lightning-combobox class="form-fields"
                                                name={surveyField.Field.key}
                                                placeholder={surveyField.Field.label}
                                                options={surveyField.Field.picklistOptions}
                                                onchange={handleChange}
                                                required={surveyField.Field.isRequired}
                                                variant="label-hidden"
                                                message-when-value-missing={surveyField.Field.messageWhenRequired}
                                                value={surveyField.Value}>
                                            </lightning-combobox>
                                        </div>
                                    </template>
                                </div>
                            </template>

                            <!-- Column 2 -->
                            <template if:true={hasFieldsInRight}>
                                <template for:each={surveyFieldsRightColumn} for:item="surveyField">
                                    <div class={surveyField.Style} key={surveyField.Field.key}>
                                        <template if:false={surveyField.IsPicklist}>
                                            <div class="slds-form-element__control" >
                                                <div class="field-label">
                                                    <template if:true={surveyField.Field.isRequired}>
                                                        <span class="required-mark">*</span>
                                                    </template>
                                                    {surveyField.Field.label}
                                                </div>

                                                    <!--Updated by Xen Reyes Nov012021 CCN-796/797/798-->
                                                <lightning-input type={surveyField.Field.fieldType}
                                                            name={surveyField.Field.key}
                                                            placeholder={surveyField.Field.label}
                                                            onchange={handleChange}
                                                            message-when-value-missing={surveyField.Field.messageWhenRequired}
                                                            required={surveyField.Field.isRequired}
                                                            variant="label-hidden"
                                                            class="form-fields"
                                                            value={surveyField.Value}>
                                                </lightning-input>
                                            </div>
                                        </template>
                                        <template if:true={surveyField.IsPicklist}>
                                            <div class="slds-form-element__control">
                                                <div class="field-label">
                                                    <template if:true={surveyField.Field.isRequired}>
                                                        <span class="required-mark">*</span>
                                                    </template>
                                                    {surveyField.Field.label}
                                                </div>
                                                <lightning-combobox class="form-fields"
                                                    name={surveyField.Field.key}
                                                    placeholder={surveyField.Field.label}
                                                    options={surveyField.Field.picklistOptions}
                                                    onchange={handleChange}
                                                    required={surveyField.Field.isRequired}
                                                    variant="label-hidden"
                                                    message-when-value-missing={surveyField.Field.messageWhenRequired}
                                                    value={surveyField.Value}>
                                                </lightning-combobox>
                                            </div>
                                        </template>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </div>
            
                    <!-- Disclaimer -->
                    <template if:true={disclaimerText}>
                        <div class="disclaimer-container">
                            <span class="slds-text-body_regular disclaimer-title">Disclaimer:  </span>
                            <lightning-formatted-rich-text class="disclaimer-text" value={disclaimerText}></lightning-formatted-rich-text>
                        </div>
                    </template>
                </div>
                <div class="right"></div>
            </div>
            
            <!-- Updated [EVENT REFRESH FIXES] JaysonLabnao Jan202022 -->
            <!-- Survey questions -->
            <div class="survey-info-body">
                <div class="left"></div>
                <div class="survey-questions middle">
                    <div class="survey-form">
                        <template for:each={elementAttributes} for:item="element">
                            <div key={element.questionId}>
                                <!-- Updated [EVENT REFRESH FIXES] JaysonLabnao Jan202022 -->
                                <div class="question-title">{element.questionTitle}</div> 
                                <c-survey-detail-element question-id={element.questionId} type={element.type} 
                                    label={element.label} options={element.options} min={element.min} max={element.max} 
                                    step={element.step} is-required-field={element.isRequired} oninputchange={handleOnClick}>
                                </c-survey-detail-element>
                            </div>
                        </template>
                    </div>
                    <!-- Submit button -->
                    <template if:true={showButton}>
                        <div class="btn-base-parking" onclick={handleSubmit}>
                            Submit
                        </div>
                    </template>
                </div>
                <div class="right"></div>
            </div>
            
        </div>
        <!-- </template> -->
  
        <template if:true={showNoSurveyMessage}>
            <div class="slds-text-heading_large" style="text-align: center; flex: 1">
                This event does not have a survey. Please come back later.
            </div>
        </template>
  
        <!-- FOOTER -->
        <!--<div class="footer-section">
            <div class="footer-logo-image"><img src={FOOTER_LOGO}/></div>
        </div>-->
    </div>
  </template>