.THIS {

}

.THIS .main-section-add {
    display: flex;
    /* display: -webkit-inline-box; */
    color: black;
    background-color: white;
    min-height: unset;
    width: 100%;
    box-shadow: inset 0 8px 6px -6px grey;
}

.THIS .add-button {
    color: white;
    text-align: center;
    /* font: normal normal bold 18px/34px Calibri; */
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0;
     width: 222px;
    height: 35px;
    background: #ffae5e 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #d3d3d3;
    border-radius: 5px;
    opacity: 1;
    margin: auto;
    cursor: pointer;
}

.THIS .main-header-section-content {
    min-height: 25rem;
}

.THIS .submit-button-section {
    margin-top: 2.5rem;
}

.THIS .header-label {
    margin-top : 0px;
}

/* Added By JaysonLabnao [CCN-EVE-2160-DV] OCT092022 */
.THIS .required {
    color: red;
}

.THIS .slds-select_container {
    margin-bottom: 0px;
}

.THIS .secondRow {
    margin-top: 20px;
}