.THIS .intake-page{
    width: 100%;
    height: 100%;
    color: #001e41;
    font-size: 1rem;
    background: #f3f7fb;
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
}
.THIS .intake-form{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.THIS hr{
    margin: 10px;
}
.THIS .slds-form-element__label:empty{
    display: none;
}
.THIS .slds-form-element__legend{
    font-size: 1rem;
}
.THIS .slds-form-element__label{
    font-size: 1rem;
    font-weight: 700;
}

.THIS .default-control{
    display: block !important;
}
.THIS .slds-clearfix{
    text-align: center;
}


.THIS .intake-form .slds-form-element__control{
    display: flex;
}
.THIS .intake-form input[type=text], .THIS .intake-form .slds-select_container{
    width: 40%;
}
.THIS .intake-title{
    color: #4e546a;
    font-size: 2rem;
}
.THIS .intake-desc{
    color: #4e546a;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.THIS .intake-description{
}
.THIS .intake-form ul{
    /*display: none;*/
    pointer-events: none;
    border-bottom: unset;
}
.THIS .intake-form ul li{
	width: 20%;
    margin: 0px .5px;
}
.THIS .slds-tabs_default__item:after{
    background-color: #c2c2c2;
    height: calc(var(--sds-c-tabs-list-sizing-border, 1px) + 3px);
}
.THIS .slds-is-active:after{
    background-color: #f5b93b;
    height: calc(var(--sds-c-tabs-list-sizing-border, 1px) + 3px);
}
.THIS .slds-is-active a{
	color: #c57600;
}

/*Simple Checkbox Button Group*/
.THIS .slds-checkbox_button-groups{
	display: inline-grid;
    grid-template-columns: 1fr 1fr;
	grid-gap: 0px 5rem;
}
.THIS .slds-checkbox_button-groups span label{
	padding-left: 5px;
}