.THIS .roleClass{
    font-size:      14px;
    font-weight:    bold;
}

.THIS .roleDescClass{
    font-size:      12px;
    width: inherit; /*CCN-802*/
}

.THIS .rowPadding{
    margin-right: 5px;
}


.THIS .roleContainer{
    /*width: 250px; CCN-802 */
    min-width: 100px;
    max-width: 200px;
}

.THIS .slds-select{
    height: 40px;
    border-radius: 5px;
    min-width: fit-content; /*CCN-802*/
}

.THIS .slds-input{
    height: 40px;
    border-radius: 5px;
}

.THIS .icon-remove {
    width:36px;
    height:36px;
    margin-left: 7.5px;
    ursor: pointer;
}

.THIS .slds-select_container::before { border-bottom: none;}
.THIS .slds-select_container::after { border-top: none;}
.THIS .slds-select_container .slds-select { -webkit-appearance : menuList}