<template>
    <div class="container">
        <!-- Updated [CCN1074,CCN863,CCN862] JaysonLabnao Dec192021 -->
        <article>
            <div class="innerBox">
                <!-- Updated [CCN1074,CCN863,CCN862] JaysonLabnao Dec192021 -->
                <div class="title">
                    <a class="material-header" onclick={handleDownload}><b>{title}</b></a>
                </div>
                <p class="material-description">{description}</p>
                <!--<p class="slds-text-body_regular link" onclick={handleDownload}>Click here</p>-->
                <template if:true={isVideo}>
                    <!-- Updated [CCN1074,CCN863,CCN862] JaysonLabnao Dec192021 -->
                    <video controls = "TRUE">
                        <source src={url} type="video/mp4"/>
                        <source src={url} type="video/ogg"/>
                        <source src={url} type="video/avi"/>
                        <source src={url} type="video/wmv"/>
                        <source src={url} type="video/wma"/>
                        <source src={url} type="video/wav"/>
                        <source src={url} type="video/mov"/>
                        Your browser does not support HTML5 video.
                    </video>
                </template>
            </div>
        </article>
    </div>
</template>