/* Updated [CCN1074,CCN863,CCN862] JaysonLabnao Dec192021 */
:host {
	--calibri-bold: normal normal bold 1.125rem 'Calibri';
	--calibri-normal: normal normal normal 1rem 'Calibri';
	--calibri-bold-phone: normal normal bold 1rem/1.25rem 'Calibri';
	--calibri-normal-phone: normal normal normal 0.875rem/1.25rem 'Calibri';
	--materials-black: #231F20;
}

.innerBox {
	margin-top : 1rem;
}

/* Updated [CCN1074,CCN863,CCN862] JaysonLabnao Dec192021 */
.material-header {
		font-size : 18px;
		font-weight : bolder;
		color : rgb(0,131,193);
}

/* Updated [CCN1074,CCN863,CCN862] JaysonLabnao Dec192021 */
.material-description {
		font-size : 16px;
		color : black;	
}

/* Updated [CCN1074,CCN863,CCN862] JaysonLabnao Dec192021 */
video {
	height: auto;
	width: 400px;
}

@media screen and (max-device-width: 640px) { 
	video {
		width: 100%;
	}
}

/* Phone */
@media screen and (max-device-width: 640px) { 
	.material-header {
		font: var(--calibri-bold-phone);
	}

	.material-description {
		font: var(--calibri-normal-phone);
	}

	/* Added [Event Refresh Fixes] JaysonLabnao Feb022022 */
	.innerBox {
		margin-top: unset;
	}

	/* Added [Event Refresh Fixes] JaysonLabnao Feb022022 */
	.title {
		margin: 1rem 0 0.25rem;
	}
}